* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

main {
    width: 80vw;
    height: 80vh;
    border-radius: 4px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    color: #0070B6;
}

section {
    width: 100%;
}

section.populated {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    padding-bottom: 10px;
}

/* Chat messages */
.chat-container {
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.user-message {
    align-self: flex-end;
    background: #0070B6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.bot-message {
    align-self: flex-start;
    background: #f1f1f1;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

/* Input section */
form {
    width: 100%;
    display: flex;
    border-top: #0070B6 solid 2px;
    padding-top: 20px;
}

input.question-box {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    color: #383838;
    border: none;
}

input[type=submit] {
    width: 15%;
    padding: 10px;
    font-size: 15px;
    border: none;
    color: #fff;
    background-color: #0070B6;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.bubble{
    margin: 8px;
    padding: 8px;
    font-size: 15px;
    border: none;
    color: #383838;
    box-shadow: #959da533 0 8px 24px;
    width: 80%;
    text-align: left;
}

/* Loading Animation */
.loader {
    margin: 10px;
    width: 60px;
    aspect-ratio: 4;
    background: 
        no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 0% 50%,
        no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 50% 50%,
        no-repeat radial-gradient(circle closest-side, #383838 90%, #0000) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    33% { background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%;}
    50% { background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%;}
    66% { background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%;}
}

.bubble.user {
    border-radius: 20px 20px 0 20px;
    background-color: #E1F4FFFF;
    margin-left: auto;
}

.bubble.assistant {
    border-radius: 20px 20px 20px 0;
    background-color: #dce7ff;
}

.prompt-suggestion-row {
    width: 100%;
}

.prompt-suggestion-button {
    margin: 8px;
    padding: 8px;
    font-size: 15px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    color: #333;
    box-shadow: #959da533 0 8px 24px;
}